{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Time Table - ACM</title>

<div class="row">
    <h2 class='py-3 mt-3'>Time-Table</h2>
    <div class="col-md-12">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>{{timetable.program}}</th>
                <th>Subject</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for sam in timetable %}
            <tr>
                <td>{{ sam.date }} {{sam.time_slot}}</td>
                <td>{{ sam.course_name }} {{sam.venue_or_room}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
