{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <h2>Attendance Record</h2>
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Reg No</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Course Unit</th>
                        <th scope="col">Room No.</th>
                        <th scope="col">Date/Time</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for attendee in attendance %}

                    <tr>
                        <th scope="row">{{attendee.student.registration_number}}</th>
                        <td>{{attendee.student.surname}} {{attendee.student.first_name}}</td>
                        <td>{{attendee.course_unit}}</td>
                        <td>{{attendee.allocated_room_and_seat}}</td>
                        <td>{{attendee.date}} {{attendee.time}}</td>    
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}